<div class="rs-progress">
                    <div class="rs-progress-inner">
                    <div class="rs-segment" style="width: 30%">
                        <div class="rs-bar rs-status-ok "></div>
                        <div class="rs-caption">1. Customer Details</div>
                    </div>
                    <div class="rs-segment" style="width: 50%">
                        <div class="rs-bar rs-status-ok "></div>
                        <div class="rs-caption">2. Calculator</div>
                    </div>
                    <div class="rs-segment" style="width: 20%">
                        <div class="rs-bar rs-status-ok rs-bar-striped"></div>
                        <div class="rs-caption">3. Review</div>
                    </div>
                    </div>

<div class="text-left">
    <h3>Lets review the build...</h3>
    <div ng-repeat="(section, products) in formData['aws_services']">
    <!-- TODO: Add functionality to only display the relevent sections -->
    <b>{{section}}</b>
    <div ng-repeat="(entry,state) in products" ng-show="state">
        {{entry}}
    </div>
</div>
</div class="col-xs-6 col-xs-offset-3">
    <button type="submit" class="btn btn-danger">Submit</button>
</div>